* {
    margin: 0;
    padding: 0;
    
}

#header {
    background-color: rgb(0, 0, 0) !important;
    
    
}
.navbar-brand {
    color: rgb(255, 153, 0) !important;
    margin: 0 350px 0 60px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.nav-link {
    color: white !important;
    margin: 0 20px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.navbar-toggler {
    background-color:white !important;
}
.nav-link:hover {
    
    color: #e4b95b !important;
    cursor: pointer;
}

@media (max-width: 534px) {
    .navbar-toggler {
        position: relative;
        left: 78%;
        
    }
    .navbar-brand {
        position: absolute;
    }
}
 
/*Navbar End*/

#imag {
    width: 70%;
    margin: auto;
}
#imag .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    gap: 2rem 1rem;
    margin-bottom: 4rem;
}
#imag .content img {
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: 1.5s;
}
#imag .content img:hover {
    transform: scale(1.02);
}
h2 {
    text-align: center;
    margin-top: 4rem;
    color: #000;
}